server:
  port: 4582

spring:
  application:
    name: query_service

  datasource:
    username: ${ORACLE_DB_USER}
    password: ${ORACLE_DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
    url: ${ORACLE_DB_URL}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    username: ${EMAIL}
    password: ${APP_PASSWORD}
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

