server:
  port: 4580

spring:

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: ${ORACLE_DB_USER}
    password: ${ORACLE_DB_PASSWORD}
    driver-class-name: oracle.jdbc.driver.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  file:
    name: logs/app.log

  level:
    org:
      springframework.security: DEBUG